<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<extension
         point="org.eclipse.mylar.core.context">
      <structureBridge
            class="org.eclipse.mylar.internal.web.WebResourceStructureBridge"
            name="Web Resource Structure Bridge"/>
   </extension> 
   <extension
         point="org.eclipse.mylar.ui.context">
      <uiBridge
            class="org.eclipse.mylar.internal.web.ui.WebResourceUiBridge"
            contentType="http"
            id="org.eclipse.mylar.web.uiBridge"/>
   </extension>

<extension point="org.eclipse.ui.actionSets">
	<actionSet
            id="org.eclipse.mylar.web.actionSet"
            label="Mylar Web"
            visible="true"> 
  		<action
          class="org.eclipse.mylar.internal.web.ui.NewWebBrowserAction"
          definitionId="org.eclipse.mylar.web.browser.new"
          icon="icons/etool16/browser-new.gif" 
          id="org.eclipse.mylar.browser.editor.new"
          label="New Browser"
          style="push"
          toolbarPath="org.eclipse.ui.edit.text.actionSet.presentation/Presentation"
          tooltip="New Browser"> 
      	</action> 
    </actionSet>
   </extension>

   <extension point="org.eclipse.ui.commands">
	  <command
         categoryId="org.eclipse.mylar.ui"
         description="Toggle Automatic Folding"
         id="org.eclipse.mylar.web.browser.new"
         name="New Browser">
      </command>
   </extension>

   <extension point="org.eclipse.ui.bindings">   
	  <key
            sequence="M1+M2+M3+T"
            contextId="org.eclipse.ui.globalScope"
            commandId="org.eclipse.mylar.web.browser.new"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
  
</plugin>
